<!DOCTYPE html>
<html>
  <head>
    <title>Programmes</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.js"></script>

    <script src="update.js"></script>
    <script src="updatemenu.js"></script>
  </head>
 
  <body>
    
    <h1>Menu</h1>
    <div ng-app="mainApp" ng-controller="itemsController">
        <table border=1>
          <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>DESCRIPTION</th>
            <th>CATEGORY_ID</th>
            <th>PRICE</th>
          
            
          </tr>
          <tr ng-repeat = "menutable in menutables">
            <td>{{menutable.Item_id }}</td>
            <td>{{menutable.Item_name}}</td>
            <td>{{menutable. Description }}</td>
            <td>{{menutable.Category_id }}</td>
            <td>{{menutable. Price}}</td>
            <td><input type="button" ng-click="selectMenuTable(menutable.Item_id)" value="Select"></td>
            <td><input type="button" ng-click="deleteMenuTable(menutable.Item_id)" value="Delete"></td>
           
          </tr>
          <tr>
            <td><input type="text" ng-model="new_menutable.Item_id"></td>
            <td><input type="text" ng-model="new_menutable.Item_name"></td>
            <td><input type="text" ng-model="new_menutable.Description"></td>
            <td><input type="text" ng-model="new_menutable.Category_id "></td>
            <td><input type="text" ng-model="new_menutable.Price"></td>

            <td><input type="button" ng-click="createMenuTable()" value="Create"></td>
          </tr>
        </table>

        
    </div>
    </body>
  </html>