/*<!DOCTYPE html>
<html>
<head>

    <title>Zabrina Login Test</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.js"></script>
    <script src="customermenu.js"></script>
    <link rel="stylesheet" href="customermenu.css">
</head>

<body>
    <a href="simplehomepage.html">Home</a>
    <h1>Staff Login</h1>

    <div ng-app = "mainApp" ng-controller="menuController">
    
    <h3>About You</h3>
    <table id="customerTable">
        <tr>
            <td>Username:</td>
            <td><input type="text" ng-model="customerName"></td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input type="text" ng-model="tableNumber"></td>
        </tr>
    </table>
    
    
    <h3>Basket</h3>
    <div id="basketInfo">
    <ul id="basket">
        <li ng-repeat="option in basket">Name: {{option.Name}} | Quantity: {{option.Quantity}} | Price: £{{option.Price}} <input type="button" value="Remove 1" ng-click="removeItem(option.ID, option.Price)"></li>
    </ul>
    <p id="price">Total Price: £{{price}}</p>
    <input type="button" value= "submit order" ng-click="submitOrder()" id="submitButton">
    </div>
    <p id="submissionConfirmation">Your order has been submitted. Click <a href='/simplehomepage.html'>here</a> to return to the main menu</p>
    
    
    <h2>Starters</h2>
    <table id="startersTable">
        <tr>
            <th>Item Name</th>
            <th>Item Description</th>
            <th>Item Price</th>
            <th>Dietary Provisions</th>

        </tr>
        <tr ng-repeat= "starter in starters">
            <td>{{starter.name}}</td>
            <td>{{starter.description}}</td>
            <td>£{{starter.price}}</td>
            <td>
                <ul>
                    <li ng-repeat="diet in starter.dietaryProvisions">{{diet}}</li>
                </ul>
            </td>
            <td><input type="button" ng-click="addToBasket(starter.ID, starter.name, starter.price)" value="Add To Basket"></td>
            

        </tr>

    </table>
    <h2>Mains</h2>
    <table id="mainsTable">
        <tr>
            <th>Item Name</th>
            <th>Item Description</th>
            <th>Item Price</th>
            <th>Dietary Provisions</th>

        </tr>
        <tr ng-repeat= "main in mains">
            <td>{{main.name}}</td>
            <td>{{main.description}}</td>
            <td>£{{main.price}}</td>
            <td>
                <ul>
                    <li ng-repeat="diet in main.dietaryProvisions">{{diet}}</li>
                </ul>
            </td>
            <td><input type="button" ng-click="addToBasket(main.ID, main.name, main.price)" value="Add To Basket"></td>
       </tr>
    </table>

    <h2>Desserts</h2>
    <table id="dessertsTable">
        <tr>
            <th>Item Name</th>
            <th>Item Description</th>
            <th>Item Price</th>
            <th>Dietary Provisions</th>

        </tr>
        <tr ng-repeat= "dessert in desserts">
            <td>{{dessert.name}}</td>
            <td>{{dessert.description}}</td>
            <td>£{{dessert.price}}</td>
            <td><ul>
                <li ng-repeat="diet in dessert.dietaryProvisions">{{diet}}</li>
            </ul></td>
            <td><input type="button" ng-click="addToBasket(dessert.ID, dessert.name, dessert.price)" value="Add To Basket"></td>
       </tr>
    </table>

    <h2>Drinks</h2>
    <table id="drinksTable">
        <tr>
            <th>Item Name</th>
            <th>Item Description</th>
            <th>Item Price</th>
            <th>Dietary Provisions</th>

        </tr>
        <tr ng-repeat= "drink in drinks">
            <td>{{drink.name}}</td>
            <td>{{drink.description}}</td>
            <td>£{{drink.price}}</td>
            <td>
                <ul>
                    <li ng-repeat="diet in drink.dietaryProvisions">{{diet}}</li>
                </ul>
            </td>
            <td><input type="button" ng-click="addToBasket(drink.ID, drink.name, drink.price)" value="Add To Basket"></td>
       </tr>
    </table>



    </div>

</body>

</html>